 <tr>
  <td class="cart_product">
    <%= image_tag(cart.product.image, size:Settings.size.cart) %>
  </td>
  <td class="cart_description">
    <p><%= cart.product.name %></p>
  </td>
  <td class="cart_quantity">
    <%= cart.quantity %>
  </td>
  <td class="cart_total">
    <p class="cart_total_price"><%= cart.product.price %></p>
  </td>
   <td class="cart_total">
    <p class="cart_total_price"><%= cart.quantity * cart.product.price %></p>
  </td>
  <td>
    <%= link_to deleteitem_path(id: cart.id), method: :delete, class: "add-to-cart pull-left" do %>
      <i class="fa fa-trash-o" aria-hidden="true" ></i>
    <% end %>
  </td>
  <td>
    <i class="fa fa-refresh" aria-hidden="true"></i>
  </td>
</tr>
